@keyframes laser-shot {
    0% {
        display: none;
        left: 0%;
    }

    1% {
        display: block;
    }

    /* 50% {
        width: 50px;
    } */

    100% {
        width: 100px;
        /* margin-left: calc(100% - 100px); */
        left: 100%;
    }
}

.laser {
    display: inline-block;
    position: relative;
    background-color: lime;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    animation-name: laser-shot;
    animation-duration: 1s;
    /* animation-timing-function: ease-out; */
}

body {
    --font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: var(--font-family);
}

button {
    font-family: var(--font-family);
    letter-spacing: 2px;
}

.green {
    background-color: #0f0;
}

.laser-button.green:active {
    background-color: #0b0;
}

.red {
    background-color: #f00;
}

.laser-button.red:active {
    background-color: #b00;
}

.purple {
    background-color: #f0f;
}

.laser-button.purple:active {
    background-color: #b0b;
}

.laser-button {
    display: inline-block;
    height: 50px;
    width: 90px;
    border-radius: 10px;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

.laser-counter {
    margin-top: 5px;
    display: inline-block;
    height: 50px;
    width: 90px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    color: white;
}

h1 {
    position: absolute;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    transform: rotate(-7deg);
    margin-top: 20px;
    top: 10px;
    left: 10px;
}

.control-panel {
    margin-top: 150px;
}

#space {
    overflow: hidden;
}